<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Welcome to MelvinBank Zambia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>
      Welcome to MelvinBank Zambia, <span th:text="${user.firstName}"></span>!
    </h1>
    <p>
      Thank you for joining MelvinBank Zambia. Your new account has been
      successfully created.
    </p>
    <h2>Account Details:</h2>
    <ul>
      <li>
        <strong>Account Number:</strong>
        <span th:text="${account.accountNumber}"></span>
      </li>
      <li>
        <strong>Account Type:</strong>
        <span th:text="${account.accountType}"></span>
      </li>
      <li>
        <strong>Account Name:</strong>
        <span th:text="${account.accountName}"></span>
      </li>
      <li>
        <strong>Initial Balance:</strong> ZMW
        <span th:text="${account.balance}"></span>
      </li>
    </ul>
    <p>You can now log in to your account using your email and password.</p>
    <p>
      If you have any questions, please do not hesitate to contact our customer
      support.
    </p>
    <p>
      Best regards,<br />
      The MelvinBank Zambia Team
    </p>
  </body>
</html>
